baseURL: "https://wahyuwiyoko.github.io/blog/"
title: Wahyu Wiyoko
paginate: 5
theme: PaperMod

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

# googleAnalytics: UA-123-45

minify:
    disableXML: true
    minifyOutput: true

params:
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    title: Wahyu's Blog
    description: "Wahyu's blog for documentation and some notes about system configuration of a software or about other things."
    # author: Wahyu Wiyoko
    # author: ["Me", "You"] # multiple authors
    # images: ["<link or path of image for opengraph, twitter-cards>"]

    defaultTheme: light # dark, light
    disableThemeToggle: true

    ShowReadingTime: false
    ShowShareButtons: false
    ShowBreadCrumbs: false
    ShowPostNavLinks: true # Adds a Previous / Next post suggestion under a single post
    disableSpecial1stPost: false
    comments: false
    hidemeta: false
    showtoc: true # Table of Contents
    tocopen: false

    # assets:
        # disableHLJS: true # to disable highlight.js
        # disableFingerprinting: true
        # favicon: "favicons/favicon.ico"
        # favicon16x16: "favicons/favicon-16x16.png"
        # favicon32x32: "favicons/favicon-32x32.png"
        # apple_touch_icon: "favicons/apple-touch-icon.png"
        # safari_pinned_tab: "favicons/safari-pinned-tab.svg"

    label:
        text: "Wahyu's Blog"
        # icon: /apple-touch-icon.png
        # iconHeight: 35

    # profile-mode
    profileMode:
        enabled: false # needs to be explicitly set
        title: ExampleSite
        subtitle: "This is subtitle"
        imageUrl: "<img location>"
        imageWidth: 120
        imageHeight: 120
        imageTitle: my image
        buttons:
            - name: Posts
              url: posts
            - name: Tags
              url: tags

    # home-info mode
    homeInfoParams:
        Title: "Hi there!"
        Content: Welcome to my blog :D

    socialIcons:
    #   - name: twitter
    #     url: "https://twitter.com/"
    #   - name: stackoverflow
    #     url: "https://stackoverflow.com"
        - name: github
          url: "https://github.com/wahyuwiyoko/"

    # analytics:
    #     google:
    #         SiteVerificationTag: "XYZabc"

    cover:
        hidden: true # hide everywhere but not in structured data
        hiddenInList: true # hide on list pages and home
        hiddenInSingle: true # hide on single page

    # for search
    # https://fusejs.io/api/options.html
    fuseOpts:
        isCaseSensitive: false
        shouldSort: true
        location: 0
        distance: 1000
        threshold: 0.4
        minMatchCharLength: 0
        keys: ["title", "permalink", "summary", "content"]
        
menu:
    main:
        - identifier: about
          name: About
          url: https://wahyuwiyoko.github.io/
          weight: 10
        - identifier: archives
          name: Archive
          url: archives/
          weight: 20
        - identifier: search
          name: Search
          url: search/
          weight: 30

outputs:
    home:
        - HTML
        - RSS
        - JSON
        
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
# pygmentsUseClasses: true
# markup:
#     highlight:
#         # anchorLineNos: true
#         codeFences: true
#         guessSyntax: true
#         lineNos: true
#         style: monokai
